<h1><%= @restaurant.title %></h1>
<p><%= @restaurant.description %></p>
<%= (image_tag @restaurant.image.url(:medium), class:'img-responsive') %>

<% @restaurant.products.each do |product| %>
		<div class="col-md-3">
			<p><%= link_to product.title, products_path(product) %></p>
			<p><%= product.price %> $</p>
		</div>
<% end %>